@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91.2%;
    --foreground: 20 14.3% 14.1%;
    --card: 60 50% 95%;
    --card-foreground: 20 14.3% 14.1%;
    --popover: 60 50% 95%;
    --popover-foreground: 20 14.3% 14.1%;
    --primary: 0 81% 72.2%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 60 20% 88%;
    --muted-foreground: 24 9.8% 38.4%;
    --accent: 25 75% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 83%;
    --ring: 0 81% 72.2%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 56% 91.2%;
    --card: 20 14.3% 6.1%;
    --card-foreground: 60 56% 91.2%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 56% 91.2%;
    --primary: 0 81% 72.2%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 20 14.3% 10.1%;
    --secondary-foreground: 60 56% 91.2%;
    --muted: 20 14.3% 10.1%;
    --muted-foreground: 60 50% 80%;
    --accent: 25 75% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14.3% 10.1%;
    --input: 20 14.3% 10.1%;
    --ring: 0 81% 72.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
